html {
  line-height: 1.15;
  max-width: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; 
  min-height: 400px;
  height: auto !important;}

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }


img {
  max-width: 100%; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*General Styles - Beginning */
html {
  font-size: 62.5%;
  /* Make font 10px */
  width: 100vw; }

h1 {
  font-size: 5.5rem; }

h2 {
  font-size: 4.5rem; }

h3 {
  font-size: 3.1rem; }

h4 {
  font-size:2.5rem; }

h1, h2, h3, h4 {
  text-transform: uppercase;
  letter-spacing: 4px; 
  text-align: center; 
  padding:15px 0;}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem; }

p {
  line-height: 35px; }

a {
  color: white;
  text-decoration: none; }

a:hover {
  color: lightgrey; }
.nav-events:hover{
  color: lightgrey;
}
main a {
  color: black;
  border-bottom: 1px solid black; }

main a:hover {
  color: #860f0f; }

ul, li {
  padding: 0;
  margin: 0; }

i { 
  margin-right: 0.5em; }
button:hover{
    color: rgb(60,60,60); 
}
.wrapper {
  margin: 0 auto;
  padding: 0; }

.note {
  font-style: italic;
  font-size: 1.3rem; }

.button {
  display: inline-block;
  background-color: rgba(200,200,200,0.4);
  color: black;
  border: 1px solid lightgray;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  margin: 10px; }

a.button:hover {
  color: rgb(60,60,60); }

.svg-inline--fa {
    margin-right: 0.5em; }

/*General Styles - End */
@media (min-width: 768px) {
  .wrapper {
    margin: 0 auto;
    padding: 0 20px; } }

@media (max-width: 768px) {
  .wrapper {
    margin: 0 auto;
    padding: 0 10px; } }

nav {
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; }

.nav-logo {
  float: left;
  margin: 5px; }

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: white;
  float: right; }

.nav li {
  float: left;
  position: relative;
  padding: 30px;
  font-weight: bold;
  font-size: 1.6rem; }

.nav-contact-us {
  margin-right: 30px; }
 

input#toggle {
  display: none; }

.fa-bars {
  display: none; }

@media (min-width: 981px) {
  .sub-menu {
    background-color: white;
    display: none;
    position: absolute;
    -webkit-box-shadow: 1px 1px 3px black;
    box-shadow: 1px 1px 3px black;
    margin-top: 15px; }
  .sub-menu li {
    float: none;
    list-style-type: none;
    padding: 20px;
    text-align: left; }
  .sub-menu a {
    color: black; }
  .sub-menu a:hover {
    color: grey; }
  .nav li:hover .sub-menu {
    display: block;
    /* Sub menu appears when users hover an item in the navigation that has a sub menu  */ } }

@media (max-width: 980px) {
  .nav {
    position: absolute;
    right: 100%;
    width: 100%;
    background-color: black;
    border: 1px solid grey;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: block;
    text-align: center; }
  .nav li {
    display: inline-block;
    float: none;
    padding: 10px; }
  .nav a {
    color: white; }
  .nav a:hover {
    color: gray; }
  .sub-menu {
    display: inline-block;
    background-color: black; }
  .nav-events {
    display: none; }
  input#toggle:checked + .nav {
    top: 80px;
    right: 0; }
  .fa-bars {
    color: white;
    position: absolute;
    top: 35px;
    right: 25px; } }

@media (max-width: 768px) {
  header .header-link:nth-of-type(2) {
    display: none; } }

.header-index {
  background: 
    linear-gradient(
      rgba(50, 50, 50, 0.6),
      rgba(50, 50, 50, 0.6)
    ),
    url("../images/RUKPOP1.png");
  background-size: cover;
  min-height: 450px;
  height: 100vh;
  width: auto;
  margin:0;
  text-align: center; }
.container{
  position: relative;
  padding: 0;
  margin: 0;
  padding-top: 25vh;
}
.header-text {
  position: relative;
  color: white; 
  margin: 0;
  padding: 0;
  padding-top: 5px; 
  padding-bottom: 0px;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.4 );
}

@media (max-width: 980px) {
  header .header-text:nth-child(2) {
    font-size: 11px; } }

.about-us, .team {
  margin-top: 100px;
  padding-top: 0px; }

.team-wrapper {
  margin: auto;
  padding: 0 50px; }

.team-profile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  float: left;
  list-style-type: none;
  min-height: 500px;
  padding: 0; }

.admin-team .team-profile, .events-team .team-profile, .dance-team .team-profile, .marketing-team .team-profile {
  width:33%;
}

.team-profile figure { 
  text-align:center;
 }

.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;}

.team-profile ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.profile-name-year li {
  font-size: 1.8rem;
  line-height: 25px; }

.profile-name-year li:first-child {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem; }

.profile-name-year li:nth-child(2) {
  color: #860f0f; }

.profile-description {
  font-size: 1.3rem;
  line-height: 20px;
  margin-top: 30px;
  color: black; }

.profile-description li {
  margin: 5px; }

.profile-description-bold {
  font-weight: bold; }

@media (max-width: 1180px) {
  .admin-team .team-profile, .events-team .team-profile, .dance-team .team-profile, .marketing-team .team-profile {
    width: calc(50% - 2em); } 
    h3{
      font-size: 27px;
    }
  }

@media (max-width: 880px) {
  .team-wrapper {
    padding: 0; }
  .admin-team .team-profile, .events-team .team-profile, .dance-team .team-profile, .marketing-team .team-profile {
    width: 100%; } 
      h3{
      font-size: 23px;
    }}

.events {
  margin-top: 50px;
  padding-top: 100px; }

.upcoming-events h3, p {
  text-align:center; } 

.past-events h2 {
  clear:both;
}

.events-photo-container {
  clear:left; }

.events-image {
  float: left;
min-width: 100px;}

.events-description {
  display: flex;
  flex-direction: column;
  overflow: hidden; 
  padding: 0;
  margin: 0;
}
.events-description h3 {
  text-align:left;
  margin-top:20px; } 

.events-description li {
  line-height: 30px; 
  font-weight:bold; }

.events-description p {
  text-align:left; 
  overflow: hidden;
}

.events-link {
  color: black; }

a.events-link:hover {
  color: gray; }

.events footer {
  clear: both; }

.events-requirements {
  display: inline-block; }

.partners {
  padding-top: 100px; }

.partners ul {
  line-height: 35px;
  padding-bottom: 50px; }

.partners-wrapper{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 40px;
  grid-auto-rows: (100px, auto);
  margin: 0;
  padding: 0;
}
.sponsors-photo-container {
  clear:left; }

.sponsors-image {
  float: left;
  margin: auto;}

.sponsors-description h3 {
  text-align:left;
  margin-top:20px; } 

.sponsors-description p {
  text-align:left; }

@media (max-width: 784px) {
  .dance-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);}
  .partners-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  grid-auto-rows: (100px, auto);
  margin: 0;
  padding: 0;
}
  .events-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: none;
    padding: 0 0px; }
  .events-description {
    margin: 0 50px 25px; }
  .sponsors-image { 
    float: none;
    padding: 0 150px; }
   .sponsors-description { 
    margin: 0 50px 25px; } }

@media (max-width: 480px) {
  .dance-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);}
  .partners-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  grid-auto-rows: (100px, auto);
  margin: 0;
  padding: 0;

}
  .events-image {
    margin: 0 auto;
    padding: 0;
    display:block ; }
  .sponsors-image {
    margin: 0 auto;
    padding: 0;
    display:block; } }

.dance-workshops {
  margin-top: 50px;
}
.dance-wrapper{
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-gap: 40px;
  grid-auto-rows: (100px, auto);
  margin: 0;
  padding: 0;
}
@media (max-width: 980px) {
  h1 {
    font-size: 4.3rem; }   
.dance-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);}
.partners-wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  grid-auto-rows: (100px, auto);
  margin: 0;
  padding: 0;
}}
.faq-p{
  padding: 0 ;}
.contact-us a {
  color: navy; }

.contact-us p {
  text-align: center; }

.contact-us form {
  margin: 50px auto;
  padding: 40px;
  background-color: white;
  border-radius: 10px; }

.contact-us input, .contact-us textarea {
  display: block;
  padding: 10px;
  margin: 10px;
  width: 100%; }

label {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px; }

button {
  display: block;
  width: 50%;
  padding: 25px;
  margin: 25px auto;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  background-color: white;
  border: 1px solid gray; }

.contact-us-half {
  float: left;
  width: calc(50% - 15px); }

.contact-us-half:nth-of-type(1) {
  margin-right: 30px; }

.contact-us iframe { 
  margin-top:150px;
  max-width:100%;
 }

@media (max-width: 480px){
  .profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;}
  .contact-us iframe: {
    max-width:480px; }
  .contact-us form {
    padding: 10px; }
  .contact-us input, .contact-us textarea {
    width: 95%; }
  .contact-us-half {
    width: calc(50% - 10px); }
  .contact-us-half:nth-of-type(1) {
    margin-right: 10px; } }

footer {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0 auto; }

footer h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid white;
  margin: 0 50px; }

footer li {
  list-style-type: none; 
  margin:15px; }

.extended-footer {
  background-color: rgb(30,30,30);
  padding: 50px; }

.footer-social-media-column {
  float: left;
  width: 33%;
  margin-top: 10px; }

.footer-copyright {
  clear: both; }

.footer-logo {
  margin: 15px 0 0; }

.copyright {
  letter-spacing: 3px;
  padding: 10px;
  margin: 0;
  font-size: 0.9rem; }

@media (max-width: 980px) {
  .footer-social-media-column {
    width: 100%; } 


img {
  max-width: 50vw; }
}
